{% extends 'main.html' %}

{% block content %}

{{mensagem}}

<h1>ALL SERVICES</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nam dapibus, nisi vitae consequat congue, sapien magna
    fermentum elit, quis hendrerit urna odio vel elit. Donec
    at quam tortor. Aenean ornare elit nec nibh gravida, nec
    pulvinar turpis interdum. Vestibulum convallis commodo nisi,
    quis convallis eros fringilla a. Morbi malesuada sit amet
    ex eget ornare. Proin volutpat lorem et tellus mollis hendrerit.
    Aliquam vel fermentum ex, sed vehicula sapien.
</p>

{% endblock %}